:root {
  --background-color: #f7fafc;
  --font-color: #11446a;
  --font-color-dark: #2d3748;
  --navbar-bg-color: #ffffff;
  --nav-link-hover-color: #dbe1e6;
  --card-background-color: #ffffff;
  --card-border-color: #e2e8f0;
  --primary-color: #f94b69;
  --primary-color-light: #f17489;
  --btn-hover-color: #dbe1e6;
  --code-block-color: #282a36;
}
