// Generated fron material theme builder https://material-foundation.github.io/material-theme-builder/
:root {
  --color-primary-light: #6750a4;
  --color-on-primary-light: #ffffff;
  --color-primary-container-light: #eaddff;
  --color-on-primary-container-light: #21005d;
  --color-secondary-light: #625b71;
  --color-on-secondary-light: #ffffff;
  --color-secondary-container-light: #e8def8;
  --color-on-secondary-container-light: #1d192b;
  --color-tertiary-light: #7d5260;
  --color-on-tertiary-light: #ffffff;
  --color-tertiary-container-light: #ffd8e4;
  --color-on-tertiary-container-light: #31111d;
  --color-error-light: #b3261e;
  --color-on-error-light: #ffffff;
  --color-error-container-light: #f9dedc;
  --color-on-error-container-light: #410e0b;
  --color-outline-light: #79747e;
  --color-background-light: #fffbfe;
  --color-on-background-light: #1c1b1f;
  --color-surface-light: #fffbfe;
  --color-on-surface-light: #1c1b1f;
  --color-surface-variant-light: #e7e0ec;
  --color-on-surface-variant-light: #49454f;
  --color-inverse-surface-light: #313033;
  --color-inverse-on-surface-light: #f4eff4;
  --color-primary-dark: #d0bcff;
  --color-on-primary-dark: #381e72;
  --color-primary-container-dark: #4f378b;
  --color-on-primary-container-dark: #eaddff;
  --color-secondary-dark: #ccc2dc;
  --color-on-secondary-dark: #332d41;
  --color-secondary-container-dark: #4a4458;
  --color-on-secondary-container-dark: #e8def8;
  --color-tertiary-dark: #efb8c8;
  --color-on-tertiary-dark: #492532;
  --color-tertiary-container-dark: #633b48;
  --color-on-tertiary-container-dark: #ffd8e4;
  --color-error-dark: #f2b8b5;
  --color-on-error-dark: #601410;
  --color-error-container-dark: #8c1d18;
  --color-on-error-container-dark: #f2b8b5;
  --color-outline-dark: #938f99;
  --color-background-dark: #1c1b1f;
  --color-on-background-dark: #e6e1e5;
  --color-surface-dark: #1c1b1f;
  --color-on-surface-dark: #e6e1e5;
  --color-surface-variant-dark: #49454f;
  --color-on-surface-variant-dark: #cac4d0;
  --color-inverse-surface-dark: #e6e1e5;
  --color-inverse-on-surface-dark: #313033;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: var(--color-primary-light);
    --color-on-primary: var(--color-on-primary-light);
    --color-primary-container: var(--color-primary-container-light);
    --color-on-primary-container: var(--color-on-primary-container-light);
    --color-secondary: var(--color-secondary-light);
    --color-on-secondary: var(--color-on-secondary-light);
    --color-secondary-container: var(--color-secondary-container-light);
    --color-on-secondary-container: var(--color-on-secondary-container-light);
    --color-tertiary: var(--color-tertiary-light);
    --color-on-tertiary: var(--color-on-tertiary-light);
    --color-tertiary-container: var(--color-tertiary-container-light);
    --color-on-tertiary-container: var(--color-on-tertiary-container-light);
    --color-error: var(--color-error-light);
    --color-on-error: var(--color-on-error-light);
    --color-error-container: var(--color-error-container-light);
    --color-on-error-container: var(--color-on-error-container-light);
    --color-outline: var(--color-outline-light);
    --color-background: var(--color-background-light);
    --color-on-background: var(--color-on-background-light);
    --color-surface: var(--color-surface-light);
    --color-on-surface: var(--color-on-surface-light);
    --color-surface-variant: var(--color-surface-variant-light);
    --color-on-surface-variant: var(--color-on-surface-variant-light);
    --color-inverse-surface: var(--color-inverse-surface-light);
    --color-inverse-on-surface: var(--color-inverse-on-surface-light);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: var(--color-primary-dark);
    --color-on-primary: var(--color-on-primary-dark);
    --color-primary-container: var(--color-primary-container-dark);
    --color-on-primary-container: var(--color-on-primary-container-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-on-secondary: var(--color-on-secondary-dark);
    --color-secondary-container: var(--color-secondary-container-dark);
    --color-on-secondary-container: var(--color-on-secondary-container-dark);
    --color-tertiary: var(--color-tertiary-dark);
    --color-on-tertiary: var(--color-on-tertiary-dark);
    --color-tertiary-container: var(--color-tertiary-container-dark);
    --color-on-tertiary-container: var(--color-on-tertiary-container-dark);
    --color-error: var(--color-error-dark);
    --color-on-error: var(--color-on-error-dark);
    --color-error-container: var(--color-error-container-dark);
    --color-on-error-container: var(--color-on-error-container-dark);
    --color-outline: var(--color-outline-dark);
    --color-background: var(--color-background-dark);
    --color-on-background: var(--color-on-background-dark);
    --color-surface: var(--color-surface-dark);
    --color-on-surface: var(--color-on-surface-dark);
    --color-surface-variant: var(--color-surface-variant-dark);
    --color-on-surface-variant: var(--color-on-surface-variant-dark);
    --color-inverse-surface: var(--color-inverse-surface-dark);
    --color-inverse-on-surface: var(--color-inverse-on-surface-dark);
  }
}
