@import "./colors";

$mob-nav-height: 50px;
$sm-breakpoint: 640px;
$md-breakpoint: 900px;

$post-body-xy-padding: 16px;
$body-padding: 0px 40px;
$sm-body-padding: 0px 16px;

$root-font-size: 18px;

// Card
$card-max-width: 400px;

// Code block
$cb-font-size: 0.8rem;
