.grow {
  flex-grow: 1;
}

.hidden {
  display: none;
}

.btn {
  cursor: pointer;
}

.sm-hide {
  @media (max-width: $sm-breakpoint) {
    display: none !important;
  }
}

.sm-show {
  @media (min-width: $sm-breakpoint) {
    display: none !important;
  }
}

// Helper mixins
@mixin top-border($color, $width) {
  border-top-width: $width;
  border-top-color: $color;
  border-top-style: solid;
}
