button {
  appearance: none;
  border: none;
  cursor: pointer;
}

.btn {
  box-sizing: border-box;
  padding: 12px 16px;
  font-size: 1.2rem;
  font-family: "Nunito Sans";
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04px;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  transition: background-color 40ms ease-in-out;
  &--block {
    width: 100%;
    text-align: center;
  }
  &--primary {
    background-color: $primary;
    border-color: #{$secondary}38;
    &:hover {
      background-color: scale-color($color: $primary, $saturation: 20%, $lightness: -30%)
    }
    &:focus {
      border-width: 4px;
      border-color: scale-color($color: $secondary, $saturation: -80%, $lightness: 40%);
    }
  }
}