.card {
  max-width: $card-max-width;
  background-color: var(--color-surface-variant);
  color: var(--color-on-surface-variant);
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 18px;

  &__cover {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 4px;
  }
  &__body {
    margin: 18px 0 0 0;
    display: flex;
    flex-direction: column;
  }
  &__title {
    @extend .serif-font;
    font-size: 1.4rem;
    font-weight: 600;
  }
  &__link {
    text-decoration: none;
    color: var(--color-on-surface-variant);
  }
  &__meta {
    display: flex;
    justify-content: space-between;
    padding: 14px 0px 10px 0px;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
  }
  &__category {
    a {
      color: var(--color-on-surface-variant);
      transition: color 140ms ease-in-out;
      &:hover {
        color: var(--color-primary);
      }
    }
  }
  &__description {
    @extend .sans-font;
    font-style: italic;
    font-weight: 700;
    padding: 12px 0px;
    @include top-border($color: var(--color-primary), $width: 2px);
  }
  &__tags {
    font-size: 0.8rem;
    display: flex;
    padding-top: 10px;
    @include top-border($color: var(--color-on-surface-variant), $width: 1px);
    div {
      padding: 0px 10px;
      border-right-width: 1px;
      border-right-color: var(--color-on-surface-variant);
      border-right-style: solid;
      &:first-child {
        padding-left: 0px;
      }
      &:last-child {
        border: none;
      }
      a {
        color: var(--color-on-surface-variant);
        transition: color 140ms ease-in-out;
        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
