.navbar {
  display: flex;
  height: $mob-nav-height;
  background-color: var(--navbar-bg-color);
  padding: 0px 40px;
  align-items: center;
  &__title {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  &__menu {
    @extend .sm-hide;
    display: flex;
  }
  &__item {
    border-radius: 4px;
    &:hover {
      background-color: var(--nav-link-hover-color);
    }
  }
  &__link {
    display: block;
    padding: 12px;
    color: var(--font-color-dark);
    text-decoration: none;
  }
}

.mobnav {
  @extend .sm-show;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $mob-nav-height;
  background-color: var(--background-color);
  height: calc(100% - #{$mob-nav-height});
  width: 60%;
  padding: 0px;
  z-index: 999;
  transform: translateX(-100%);

  transition: transform 250ms ease-in-out;

  &[data-visible="true"] {
    transform: translateX(0%);
  }

  &__toggle {
    @extend .sm-show;
    padding: 8px;
    span {
      vertical-align: middle;
    }
  }
  &__item {
    margin: 4px;
    border-radius: 4px;
    &:hover {
      background-color: var(--nav-link-hover-color);
    }
  }
  &__link {
    display: block;
    padding: 10px;
    color: var(--font-color-dark);
    text-decoration: none;
  }
  &--overlay::before {
    content: "";
    position: absolute;
    top: $mob-nav-height;
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    background-color: #777777;
    opacity: 0.6;
  }
}

@media (max-width: $sm-breakpoint) {
  .navbar {
    padding: 0px 10px;
  }
}
