.pagination {
  margin: 60px 0px 30px;
  display: flex;
  justify-content: center;
  &__list {
    margin: 0px;
    padding: 0px;
    &--item {
      display: inline-block;
      list-style: none;
      font-size: 0.9rem;
      padding-bottom: 0.4rem;
      &[data-active="true"] {
        border-bottom-color: var(--color-primary);
        border-bottom-width: 3px;
        border-bottom-style: solid;
      }
    }
  }
  &__link {
    padding: 0.3rem 0.6rem;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
    border-radius: 4px;
    transition: background-color 160ms ease-in-out;
    &:hover {
      background-color: var(--color-surface-variant);
    }
    &--no-hover {
      &:hover {
        background-color: transparent;
      }
    }
  }
  &__icon {
    vertical-align: text-top;
    font-size: 1.2rem;
    &--elipses {
      font-size: 1rem;
    }
  }
}
