<div class="navbar">
  <div class="mobnav__toggle btn">
    <span class="material-icons">menu</span>
  </div>
  <a href="/" class="navbar__brand">
    {{- with .Site.Params.logo -}}
    {{- $altText := delimit (slice site.Title "website" "logo") " " -}}
    <div class="navbar__logo">
      <img src="{{ . }}" alt="{{ $altText }}">
    </div>
    {{- end -}}
    <div class="navbar__title">
      {{ site.Title }}
    </div>
  </a>
  <div class="grow"></div>
  <nav class="navbar__menu">
    {{ range $nav := .Site.Params.nav.custom }}
    <div class="navbar__item">
      <a href="{{- $nav.url -}}" class="navbar__link">{{- $nav.title -}}</a>
    </div>
    {{else}}
    {{ end }}
  </nav>
</div>

<!-- Mobile nav -->
<nav class="mobnav" data-visible="false">
  {{ range $nav := .Site.Params.nav.custom }}
  <div class="mobnav__item">
    <a href="{{- $nav.url -}}" class="mobnav__link">{{- $nav.title -}}</a>
  </div>
  {{else}}
  {{ end }}
</nav>