{{- define "main" -}}
  {{ partial "hero.html" . }}
  <main class="main">
    <section>
      <h3>Latest Blog Posts</h3>
      <!-- show latest 3 notes -->
      {{- with .Site.GetPage "/posts" -}}
      {{- range $page := first 3 .Pages -}}
      {{- partial "card.html" . -}}
      {{- end -}}
      {{- end -}}
    </section>
    <section>
      <h3>Latest Notes</h3>
      <!-- show latest 3 notes -->
      {{- with .Site.GetPage "/notes" -}}
      {{- range $page := first 3 .Pages -}}
      {{- partial "card.html" . -}}
      {{- end -}}
      {{- end -}}
    </section>
    <section>
      <h3>Latest Drafts</h3>
      <!-- show latest 3 drafts post -->
      {{- with .Site.GetPage "/drafts" -}}
      {{- range $page := first 3 .Pages -}}
      {{- partial "card.html" . -}}
      {{- end -}}
      {{- end -}}
    </section>
  </main>
{{- end -}}